%rebase('osnova.html', naslov='Dodajanje transakcije', stran='dodaj_transakcijo')



  <form action="{{url('/dodaj_transakcijo')}}" method="POST", style="width: 60%; margin-left: 5%;">
    <div class="form-group">
      <label for="racun">Račun</label>      
      <select class="form-select" name="racun"  aria-placeholder="Izberi Račun">
         
          % for oseba in osebe:
          <option value="{{oseba.stevilka_racuna}}">{{oseba.ime + " " + oseba.priimek}}</option>
          %end
          
        </select> 
   </div>
    <div class="form-group">
        <label for="znesek">Znesek</label>
        <input class="form-control" type="number" step="0.001" name="znesek" >      
    </div>
    <div class="form-group">
        <label for="opis">Opis</label>
        <textarea class="form-control" type="text" name="opis"></textarea>      
    </div>      
    <br>
    <button type="submit" class="btn btn-primary">Dodaj transakcijo</button>
  </form>
