<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <!-- <link href="{{url('static', filename='style.css')}}" rel="stylesheet">     -->
    <title style="text-align: center;">{{naslov}}</title>  
</head>
<body> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">         

        
        </div>
       
        
          <ul class="navbar-nav ml-auto">
    
          
    
            
          </ul>

          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                % if rola:
                <span class="navbar-text">
                  Role: {{rola}} 
                </span>
                %end           
                % if uporabnik:
                <span class="navbar-text">
                   Uporabnik: {{uporabnik}}
                </span>               

                <li class="nav-link">
                    <a class="dropdown-item" href="{{url('odjava')}}">Odjava</a>
                </li>
                % end
            </ul>
        </div>
      
      </nav>
<br>
  <div class="container">   
    {{!base}}
  </div>


</body>
</html>
